


.title {
text-align: center;
border: 1px solid #fff;
border-radius: 6px;
padding: 1rem;
}

.postTitle {
margin-top: 3rem;
margin-bottom: 2rem;
}

.postImage {
margin-top: 2rem;
margin-bottom: 2rem;
width: 400px;
border-radius: 12px;
}

.postContent {
  margin-left: 1rem;
  line-height: 2;
}

.hr {
  margin-top: 2rem;
}


@media only screen and (max-width: 600px) {
  .postImage {
    width: 200px;
    border-radius: 12px;
    }


}

