
.portfolio {
  text-align: center;
}
.portfolio > h2 {
  font-size: 3em;
  margin-top: 80px;
}
.portfolio > h3 {
  font-size: 2em;
  font-weight: 400;
}

.title {
  text-align: center;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 1rem;
  }

.productPage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}